In [62]:
# l = 'https://www.ojdinteractiva.es/medios-digitales-comunidad-valenciana#'
# l = 'https://www.ojdinteractiva.es/medios-digitales-islas-baleares#'
l = 'https://www.ojdinteractiva.es/mitjans-digitals-en-catala#'

In [63]:
# extract all links from the page
import requests
from bs4 import BeautifulSoup
import re

r = requests.get(l)
soup = BeautifulSoup(r.text, 'html.parser')
links = []
for link in soup.find_all('a', href=True):
    links.append(link['href'])

# filter out the links starting with 'https://www.ojdinteractiva.es/muestra_acta/medios-digitales'
links = [link for link in links if re.match(r'https://www.ojdinteractiva.es/muestra_acta/medios-digitales', link)]

In [64]:
# get the data from the table tag as dataframe frm soup

import pandas as pd
table = soup.find_all('table')[-2]
df = pd.read_html(str(table), extract_links='all')[0]

/tmp/ipykernel_22484/1820835642.py:5: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table), extract_links='all')[0]

In [65]:
links_seq = df[11].apply(lambda x: x[1])

In [66]:
for col in df.columns:
    df[col] = df[col].apply(lambda x: x[0])

In [67]:
df[11] = links_seq

In [68]:
# set first row as header   
df.columns = df.iloc[0]
df = df[1:]
df.rename(columns={None: 'Link'}, inplace=True)
df.rename(columns={'TÍTOL': 'TITULO'}, inplace=True)
df = df[['TITULO', 'Link']]
df

,TITULO,Link
1,ELNACIONAL.CAT - CATALÀ,https://www.ojdinteractiva.es/muestra_acta/mit...
2,RAC1.CAT,https://www.ojdinteractiva.es/muestra_acta/mit...
3,ARA.CAT - CATALÀ,https://www.ojdinteractiva.es/muestra_acta/mit...
4,GRUP ELMON.CAT,https://www.ojdinteractiva.es/muestra_acta/mit...
5,BALEARSVADEVI.CAT,https://www.ojdinteractiva.es/muestra_acta/mit...
...,...,...
187,URGELLTV.CAT,https://www.ojdinteractiva.es/muestra_acta/mit...
188,21RADIO.CAT,https://www.ojdinteractiva.es/muestra_acta/mit...
189,AUE.CAT,https://www.ojdinteractiva.es/muestra_acta/mit...
190,FEMBASE.CAT,https://www.ojdinteractiva.es/muestra_acta/mit...
191,AMICIB.MEDIA,https://www.ojdinteractiva.es/muestra_acta/mit...

In [69]:
links_old = pd.read_csv('../data/links.csv')
links_old

,TITULO,Link
0,7DIESACTUALITAT.COM,https://www.ojdinteractiva.es/muestra_acta/med...
1,7TELEVALENCIA.COM,https://www.ojdinteractiva.es/muestra_acta/med...
2,ACTUALIDADCASTELLON.COM,https://www.ojdinteractiva.es/muestra_acta/med...
3,ACTUALIDADVALENCIA.COM,https://www.ojdinteractiva.es/muestra_acta/med...
4,AGENDADEISA.COM,https://www.ojdinteractiva.es/muestra_acta/med...
...,...,...
142,PERIODICODEIBIZA.ES,https://www.ojdinteractiva.es/muestra_acta/med...
143,REVISTA07500.COM,https://www.ojdinteractiva.es/muestra_acta/med...
144,SAVEU.CAT,https://www.ojdinteractiva.es/muestra_acta/med...
145,UEPMALLORCA.APP,https://www.ojdinteractiva.es/muestra_acta/med...
146,ULTIMAHORA.ES,https://www.ojdinteractiva.es/muestra_acta/med...

In [70]:
links_old = pd.concat([links_old, df], ignore_index=True)
links_old

,TITULO,Link
0,7DIESACTUALITAT.COM,https://www.ojdinteractiva.es/muestra_acta/med...
1,7TELEVALENCIA.COM,https://www.ojdinteractiva.es/muestra_acta/med...
2,ACTUALIDADCASTELLON.COM,https://www.ojdinteractiva.es/muestra_acta/med...
3,ACTUALIDADVALENCIA.COM,https://www.ojdinteractiva.es/muestra_acta/med...
4,AGENDADEISA.COM,https://www.ojdinteractiva.es/muestra_acta/med...
...,...,...
333,URGELLTV.CAT,https://www.ojdinteractiva.es/muestra_acta/mit...
334,21RADIO.CAT,https://www.ojdinteractiva.es/muestra_acta/mit...
335,AUE.CAT,https://www.ojdinteractiva.es/muestra_acta/mit...
336,FEMBASE.CAT,https://www.ojdinteractiva.es/muestra_acta/mit...
337,AMICIB.MEDIA,https://www.ojdinteractiva.es/muestra_acta/mit...

In [71]:
links_old[['TITULO', 'Link']].to_csv('../data/links.csv', index=False)