In [12]:
import pandas as pd
import numpy as np

In [25]:
base = '../../data/ibamco_grouped2.csv'
zips = '../data/links_with_zipcodes.csv'

In [26]:
df = pd.read_csv(base)
z = pd.read_csv(zips)

In [36]:
df['url'] = df.url.apply(lambda x: x.strip() if type(x) == str else x)

In [37]:
z['media'] = z['media'].str.strip().str.lower()
z['zipcode'] = z['zipcode'].apply(lambda x: str(int(float(x))).zfill(5) if not pd.isnull(x) else x)
z.dropna(subset=['zipcode'], inplace=True)

In [38]:
z

,media,pdf_link,zipcode
0,7diesactualitat.com,https://www.ojdinteractiva.es/muestra_acta/med...,12500
1,7televalencia.com,https://www.ojdinteractiva.es/muestra_acta/med...,46988
2,actualidadcastellon.com,https://www.ojdinteractiva.es/muestra_acta/med...,46007
3,actualidadvalencia.com,https://www.ojdinteractiva.es/muestra_acta/med...,46007
4,agendadeisa.com,https://www.ojdinteractiva.es/muestra_acta/med...,46112
...,...,...,...
333,urgelltv.cat,https://www.ojdinteractiva.es/muestra_acta/mit...,25007
334,21radio.cat,https://www.ojdinteractiva.es/muestra_acta/mit...,03500
335,aue.cat,https://www.ojdinteractiva.es/muestra_acta/mit...,25007
336,fembase.cat,https://www.ojdinteractiva.es/muestra_acta/mit...,25001
337,amicib.media,https://www.ojdinteractiva.es/muestra_acta/mit...,08007

In [39]:
df['zipcode_ojd'] = np.nan
df

,ID,Origin,media,url,zipcode_iber,zipcode_cac,zipcode_ojd
0,0,"Iberfier, CAC, OJD",el 9 nou,el9nou.cat,08500,08500,NaN
1,2,"Iberfier, CAC, OJD",betevé,beteve.cat,08018,08099,NaN
2,3,"Iberfier, CAC, OJD",pirineus tv,pirineustv.cat,25700,25700,NaN
3,4,"Iberfier, CAC, OJD",ràdio sabadell,radiosabadell.fm,08202,08202,NaN
4,5,"AMIC, Iberfier, OJD",adolescents,adolescents.cat,08500,NaN,NaN
...,...,...,...,...,...,...,...
1415,1682,OJD,urgelltv,urgelltv.cat,NaN,NaN,NaN
1416,1683,OJD,21radio,21radio.cat,NaN,NaN,NaN
1417,1684,OJD,aue,aue.cat,NaN,NaN,NaN
1418,1685,OJD,fembase,fembase.cat,NaN,NaN,NaN
1419,1686,OJD,amicib,amicib.media,NaN,NaN,NaN

In [40]:
df[df['url'].astype(str).str.contains("\(")]

,ID,Origin,media,url,zipcode_iber,zipcode_cac,zipcode_ojd
170,200,"AMIC, OJD",elnostreciutat,elnostreciutat.com (elnostreperiodic.com),NaN,NaN,NaN
180,212,"AMIC, OJD",rubitv,rubitv.cat (grup naciodigital),NaN,NaN,NaN
187,219,"AMIC, OJD",territorirural,territorirural.cat (monrural.cat),NaN,NaN,NaN
188,220,"AMIC, OJD",audio,audio.cat (tirabol),NaN,NaN,NaN
189,221,"AMIC, OJD",diariodemallorca,diariodemallorca.es (P.Iberica),NaN,NaN,NaN
192,225,"AMIC, OJD",diarilaveu,diarilaveu.cat (nosaltreslaveu.com),NaN,NaN,NaN
413,632,AMIC,inediteducacion,inediteducacion.com ( ineditweb.es),NaN,NaN,NaN
428,647,AMIC,hibridosyelectricos,hibridosyelectricos.com(publico.es),NaN,NaN,NaN
511,734,AMIC,criar,criar.cat (grup naciodigital),NaN,NaN,NaN
519,743,AMIC,diacritic,diacritic.cat (fotlipou.com),NaN,NaN,NaN
1314,1577,OJD,grupo digital de la marina alta (p),grupo digital de la marina alta (p),NaN,NaN,NaN
1378,1641,OJD,grup racocatala (p),grup racocatala (p),NaN,NaN,NaN

In [41]:
for idx, row in df.iterrows():
    media = row['media']
    url = row['url']
    if not pd.isnull(media) and media in z['media'].values:
        # Use .at to modify the value at the given index and column
        df.at[idx, 'zipcode_ojd'] = z[z['media'] == media]['zipcode'].iloc[0]
        print('yes')
    elif not pd.isnull(url) and url in z['media'].values:
        # Use .at to modify the value at the given index and column
        df.at[idx, 'zipcode_ojd'] = z[z['media'] == url]['zipcode'].iloc[0]
        print('yes')

/tmp/ipykernel_10578/1202182987.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '08500' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[idx, 'zipcode_ojd'] = z[z['media'] == url]['zipcode'].iloc[0]

yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes

In [42]:
df[df.zipcode_ojd.notnull()]

,ID,Origin,media,url,zipcode_iber,zipcode_cac,zipcode_ojd
0,0,"Iberfier, CAC, OJD",el 9 nou,el9nou.cat,08500,08500,08500
1,2,"Iberfier, CAC, OJD",betevé,beteve.cat,08018,08099,08018
2,3,"Iberfier, CAC, OJD",pirineus tv,pirineustv.cat,25700,25700,25700
3,4,"Iberfier, CAC, OJD",ràdio sabadell,radiosabadell.fm,08202,08202,08202
4,5,"AMIC, Iberfier, OJD",adolescents,adolescents.cat,08500,NaN,08500
...,...,...,...,...,...,...,...
1415,1682,OJD,urgelltv,urgelltv.cat,NaN,NaN,25007
1416,1683,OJD,21radio,21radio.cat,NaN,NaN,03500
1417,1684,OJD,aue,aue.cat,NaN,NaN,25007
1418,1685,OJD,fembase,fembase.cat,NaN,NaN,25001
1419,1686,OJD,amicib,amicib.media,NaN,NaN,08007

In [43]:
df.to_csv('../../data/ibamco_grouped3.csv', index=False)