In [2]:
import numpy as np
import pandas as pd

In [3]:
file = "playground/ibamco_sheet.xlsx"
sheet = "main"

In [4]:
df = pd.read_excel(file, sheet)

In [6]:
df

,ID,Origin,media,url,zipcode_iber,zipcode_cac
0,0,"Iberfier, CAC, OJD",el 9 nou,el9nou.cat,08500,08500
1,2,"Iberfier, CAC, OJD",betevé,beteve.cat,08018,08099
2,3,"Iberfier, CAC, OJD",pirineus tv,pirineustv.cat,25700,25700
3,4,"Iberfier, CAC, OJD",ràdio sabadell,radiosabadell.fm,08202,08202
4,5,"AMIC, Iberfier, OJD",adolescents,adolescents.cat,08500,NaN
...,...,...,...,...,...,...
1370,3691,OJD,urgelltv,urgelltv.cat,NaN,NaN
1371,3692,OJD,21radio,21radio.cat,NaN,NaN
1372,3693,OJD,aue,aue.cat,NaN,NaN
1373,3694,OJD,fembase,fembase.cat,NaN,NaN
1374,3695,OJD,amicib,amicib.media,NaN,NaN