In [44]:
import pandas as pd
import numpy as np

In [45]:
f = '../../data/ibamco_grouped4.csv'

In [46]:
df = pd.read_csv(f)

In [47]:
df

,ID,Origin,media,url,zipcode_iber,zipcode_cac,zipcode_ojd,zipcode_amic
0,0,"Iberfier, CAC, OJD",el 9 nou,el9nou.cat,08500,08500,8500.0,NaN
1,2,"Iberfier, CAC, OJD",betevé,beteve.cat,08018,08099,8018.0,NaN
2,3,"Iberfier, CAC, OJD",pirineus tv,pirineustv.cat,25700,25700,25700.0,NaN
3,4,"Iberfier, CAC, OJD",ràdio sabadell,radiosabadell.fm,08202,08202,8202.0,NaN
4,5,"AMIC, Iberfier, OJD",adolescents,adolescents.cat,08500,NaN,8500.0,8500.0
...,...,...,...,...,...,...,...,...
1415,1682,OJD,urgelltv,urgelltv.cat,NaN,NaN,25007.0,NaN
1416,1683,OJD,21radio,21radio.cat,NaN,NaN,3500.0,NaN
1417,1684,OJD,aue,aue.cat,NaN,NaN,25007.0,NaN
1418,1685,OJD,fembase,fembase.cat,NaN,NaN,25001.0,NaN
1419,1686,OJD,amicib,amicib.media,NaN,NaN,8007.0,NaN

In [48]:
# priority : cac > amic > ojd > amic
df['zipcode_ojd'] = df['zipcode_ojd'].apply(lambda x: str(int(float(x))).zfill(5) if not pd.isnull(x) else x)
df['zipcode'] = np.nan

for idx, row in df.iterrows():
    if pd.notnull(row['zipcode_cac']):
        df.loc[idx, 'zipcode'] = row['zipcode_cac']
    elif pd.notnull(row['zipcode_amic']):
        df.loc[idx, 'zipcode'] = row['zipcode_amic']
    elif pd.notnull(row['zipcode_ojd']):
        df.loc[idx, 'zipcode'] = row['zipcode_ojd']
    elif pd.notnull(row['zipcode_iber']):
        df.loc[idx, 'zipcode'] = row['zipcode_iber']

/tmp/ipykernel_10733/2001483526.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '08500' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[idx, 'zipcode'] = row['zipcode_cac']

In [49]:
df.to_csv('../../data/ibamco_grouped5.csv', index=False)

In [50]:
df

,ID,Origin,media,url,zipcode_iber,zipcode_cac,zipcode_ojd,zipcode_amic,zipcode
0,0,"Iberfier, CAC, OJD",el 9 nou,el9nou.cat,08500,08500,08500,NaN,08500
1,2,"Iberfier, CAC, OJD",betevé,beteve.cat,08018,08099,08018,NaN,08099
2,3,"Iberfier, CAC, OJD",pirineus tv,pirineustv.cat,25700,25700,25700,NaN,25700
3,4,"Iberfier, CAC, OJD",ràdio sabadell,radiosabadell.fm,08202,08202,08202,NaN,08202
4,5,"AMIC, Iberfier, OJD",adolescents,adolescents.cat,08500,NaN,08500,8500.0,8500.0
...,...,...,...,...,...,...,...,...,...
1415,1682,OJD,urgelltv,urgelltv.cat,NaN,NaN,25007,NaN,25007
1416,1683,OJD,21radio,21radio.cat,NaN,NaN,03500,NaN,03500
1417,1684,OJD,aue,aue.cat,NaN,NaN,25007,NaN,25007
1418,1685,OJD,fembase,fembase.cat,NaN,NaN,25001,NaN,25001
1419,1686,OJD,amicib,amicib.media,NaN,NaN,08007,NaN,08007

In [51]:
df = df[['ID', 'Origin', 'media', 'url', 'zipcode']]
df

        ID               Origin           media               url zipcode
0        0   Iberfier, CAC, OJD        el 9 nou        el9nou.cat   08500
1        2   Iberfier, CAC, OJD          betevé        beteve.cat   08099
2        3   Iberfier, CAC, OJD     pirineus tv    pirineustv.cat   25700
3        4   Iberfier, CAC, OJD  ràdio sabadell  radiosabadell.fm   08202
4        5  AMIC, Iberfier, OJD     adolescents   adolescents.cat  8500.0
...    ...                  ...             ...               ...     ...
1415  1682                  OJD        urgelltv      urgelltv.cat   25007
1416  1683                  OJD         21radio       21radio.cat   03500
1417  1684                  OJD             aue           aue.cat   25007
1418  1685                  OJD         fembase       fembase.cat   25001
1419  1686                  OJD          amicib      amicib.media   08007

[1420 rows x 5 columns]

In [52]:
df_extend = pd.DataFrame(columns=['ID', 'Origin', 'media', 'url', 'zipcode'])
for idx, row in df.iterrows():
    if pd.notnull(row['zipcode']):
        zips = str(row['zipcode']).split(',')
        for z in zips:
            df_extend.loc[len(df_extend)] = [row['ID'], row['Origin'], row['media'], row['url'], z]
    else:
        df_extend.loc[len(df_extend)] = [row['ID'], row['Origin'], row['media'], row['url'], np.nan]
df_extend

        ID               Origin           media               url zipcode
0        0   Iberfier, CAC, OJD        el 9 nou        el9nou.cat   08500
1        2   Iberfier, CAC, OJD          betevé        beteve.cat   08099
2        3   Iberfier, CAC, OJD     pirineus tv    pirineustv.cat   25700
3        4   Iberfier, CAC, OJD  ràdio sabadell  radiosabadell.fm   08202
4        5  AMIC, Iberfier, OJD     adolescents   adolescents.cat  8500.0
...    ...                  ...             ...               ...     ...
1443  1682                  OJD        urgelltv      urgelltv.cat   25007
1444  1683                  OJD         21radio       21radio.cat   03500
1445  1684                  OJD             aue           aue.cat   25007
1446  1685                  OJD         fembase       fembase.cat   25001
1447  1686                  OJD          amicib      amicib.media   08007

[1448 rows x 5 columns]

In [53]:
df_extend['zipcode'] = df_extend['zipcode'].apply(lambda x: str(int(float(x))).zfill(5) if not pd.isnull(x) else x)
df_extend

        ID               Origin           media               url zipcode
0        0   Iberfier, CAC, OJD        el 9 nou        el9nou.cat   08500
1        2   Iberfier, CAC, OJD          betevé        beteve.cat   08099
2        3   Iberfier, CAC, OJD     pirineus tv    pirineustv.cat   25700
3        4   Iberfier, CAC, OJD  ràdio sabadell  radiosabadell.fm   08202
4        5  AMIC, Iberfier, OJD     adolescents   adolescents.cat   08500
...    ...                  ...             ...               ...     ...
1443  1682                  OJD        urgelltv      urgelltv.cat   25007
1444  1683                  OJD         21radio       21radio.cat   03500
1445  1684                  OJD             aue           aue.cat   25007
1446  1685                  OJD         fembase       fembase.cat   25001
1447  1686                  OJD          amicib      amicib.media   08007

[1448 rows x 5 columns]

In [54]:
df_extend.to_csv('../../data/ibamco_grouped6.csv', index=False)